In [11]:
import pandas as pd

In [16]:
df_json = pd.read_json("demo_csv/demo.json")

In [17]:
df_json

    Country    A   B      x
0    Norway  1.0   1   2.00
1   Denmark  NaN   2   2.00
2    Sweden  2.0   3   7.50
3   Finland  3.0   4  13.20
4   Germany  4.0   6  21.20
5     Italy  5.0   9  34.00
6  Scotland  6.0  10  42.42