In [1]:
import pandas as pd

We can specify the data for a given column using a list (or even just an interator)

In [2]:
pd.DataFrame({"A": list(range(4))})

   A
0  0
1  1
2  2
3  3

In [10]:
pd.DataFrame({"A": range(4)})

   A
0  0
1  1
2  2
3  3

We can specifiy the data using a dictionary:

In [3]:
pd.DataFrame({"B": {"0": 2, "1": 3, "2": 4, "3": 8}})

   B
0  2
1  3
2  4
3  8

However, we cannot combine these two naively:

In [13]:
try:
    pd.DataFrame({"A": list(range(4)), "B": {"0": 2, "1": 3, "2": 4, "3": 8}})
except ValueError:
    print("Operation failed due to ValueError")

Operation failed due to ValueError

But we can achieve this in two steps:

In [12]:
df = pd.DataFrame({"A": range(4)})
df["B"] = {"0": 2, "1": 3, "2": 4, "3": 8}
df

   A  B
0  0  0
1  1  1
2  2  2
3  3  3