In [1]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [2]:
df = pd.DataFrame(["A", "B", "B", "A", "C", "D", "C", "A"])
df

   0
0  A
1  B
2  B
3  A
4  C
5  D
6  C
7  A

In [8]:
ohe = OneHotEncoder()
ohe_values = ohe.fit_transform(df)
ohe_values.todense()

matrix([[1., 0., 0., 0.],
        [0., 1., 0., 0.],
        [0., 1., 0., 0.],
        [1., 0., 0., 0.],
        [0., 0., 1., 0.],
        [0., 0., 0., 1.],
        [0., 0., 1., 0.],
        [1., 0., 0., 0.]])

If instead of a sparse matrix of floats we want to add integer columns to our original pandas dataframe, then we can do it like this

In [17]:
values = ohe_values.todense().tolist()
for index, column_name in enumerate([x for x in ohe.categories_[0]]):
    column_values = []
    for row in values:
        column_values.append(int(row[index]))
    df[column_name] = pd.Series(column_values)
df

   0  A  B  C  D
0  A  1  0  0  0
1  B  0  1  0  0
2  B  0  1  0  0
3  A  1  0  0  0
4  C  0  0  1  0
5  D  0  0  0  1
6  C  0  0  1  0
7  A  1  0  0  0